body{
    text-align: center;
}

#myCanvas{
    border: 2px solid black;
    background-image: url(images/grasses68.gif);
}

#talkBox{
    margin: 15px;
    height: 50px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}